body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, pink 50%, skyblue 50%);
  overflow: hidden;
  position: relative;
}

h1 {
  position: absolute;
  top: 20px;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px black;
  z-index: 20;
}

#heart {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  transform: rotate(-45deg);
  margin-top: 80px;
  cursor: pointer;
  z-index: 10;
}

#heart::before,
#heart::after {
  content: "";
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}

#heart::before {
  top: -100px;
  left: 0;
}

#heart::after {
  left: 100px;
  top: 0;
}

#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  opacity: 0;
  transition: 0.3s;
  z-index: 20;
}

#signature {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  opacity: 0;
  transition: 0.3s;
  z-index: 20;
}

.side-image {
  width: 180px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.left {
  left: 10%;
   width: 300px;
    height:auto;
}

.right {
  right: 10%;
   width: 300px;
    height: auto;
}


#bgmusic {
  display: none;
}


#confetti {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.play-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  background: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  z-index: 99999;
  transition: 0.3s;
}

.play-btn:hover {
  background: red;
}


#dino {
position: absolute;
bottom: 10px;
left: 0;
width: 120px;
animation: run 5s linear infinite;
}
@keyframes run {
from { left: -100px; }
to { left: 110%; }
}